.tab-bar {
  background: @tab-bar-background-color;
  height: @tab-height;
}

.tab {
  background: @tab-background-color;
  color: @text-color-subtle;
  height: @tab-height;
  line-height: @tab-height;

  &.active {
    background: @tab-background-color-active;
    color: @text-color-highlight;
  }
}
