// Text
@text-color                : fadeOut(#fff, 20%);
@text-color-subtle         : fadeOut(@text-color, 50%);
@text-color-highlight      : fadeIn(@text-color, 100%);
@text-color-selected       : @text-color-highlight;

@text-color-info           : #65aef7;
@text-color-success        : #43c1be;
@text-color-warning        : #fcc22d;
@text-color-error          : #ef6487;


// Background
@background-color-info     : @text-color-info;
@background-color-success  : @text-color-success;
@background-color-warning  : @text-color-warning;
@background-color-error    : @text-color-error;

@background-color-highlight: @text-color-subtle;
@background-color-selected : @background-color-highlight;

@app-background-color      : #323133;


// Base
@base-background-color           : @app-background-color;
@base-border-color               : #222;


// Components
@pane-item-background-color      : transparent;
@pane-item-border-color          : @base-border-color;

@input-background-color          : @base-background-color;
@input-border-color              : @base-border-color;

@tool-panel-background-color     : #222;
@tool-panel-border-color         : @base-border-color;

@inset-panel-background-color    : @base-background-color;
@inset-panel-border-color        : @base-border-color;

@panel-heading-background-color  : transparent;
@panel-heading-border-color      : @base-border-color;

@overlay-background-color        : @base-background-color;
@overlay-border-color            : @base-border-color;

@button-background-color         : transparent;
@button-background-color-hover   : @background-color-highlight;
@button-background-color-selected: #222;
@button-border-color             : @text-color;

@tab-bar-background-color        : #222;
@tab-bar-border-color            : @base-border-color;
@tab-background-color            : @tab-bar-background-color;
@tab-background-color-active     : @base-background-color;
@tab-border-color                : @base-border-color;

@tree-view-background-color      : #3e3d4f;
@tree-view-border-color          : @tool-panel-border-color;

@ui-site-color-1: @background-color-success;
@ui-site-color-2: @background-color-info;
@ui-site-color-3: @background-color-warning;
@ui-site-color-4: @background-color-error;
@ui-site-color-5: @background-color-highlight;


// Sizes
@font-size              : 12px;
@input-font-size        : 14px;
@disclosure-arrow-size  : 12px;

@component-padding      : 12px;
@component-icon-padding : 4px;
@component-icon-size    : 16px; // needs to stay 16px to look sharpest
@component-line-height  : 24px;
@component-border-radius: 2px;

@tab-height             : 48px;


// Font
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;


// Custom
@scrollbar-background-color: #3e3d4f;
@scrollbar-color: #313040;
@scrollbar-background-color-editor: #3e3d4f;
@scrollbar-color-editor: #313040;
