@import "syntax-variables";

// Text
@text-color          : @syntax-fg;
@text-color-subtle   : @subtle;
@text-color-highlight: #fff;
@text-color-selected : @text-color-highlight;

@text-color-info     : @blue;
@text-color-success  : @green;
@text-color-warning  : @orange;
@text-color-error    : @red;

@text-color-faded    : fade(@text-color, 20%);

@text-color-added    : @text-color-success; // green
@text-color-ignored  : @text-color-subtle; // faded
@text-color-modified : @text-color-warning; // orange
@text-color-removed  : @text-color-error; // red
@text-color-renamed  : @text-color-info; // blue

// Background
@background-color-info     : @text-color-info;
@background-color-success  : @text-color-success;
@background-color-warning  : @text-color-warning;
@background-color-error    : @text-color-error;

@background-color-highlight: #3E3D4F;
@background-color-selected : @background-color-highlight;

@app-background-color      : @syntax-bg;

// Base
@base-background-color: @app-background-color;
@base-border-color    : darken(@syntax-bg, 12%);

@base-accent-color: #aa7ff0;

// Components
@pane-item-background-color       : @base-background-color;
@pane-item-border-color           : @base-border-color;

@input-background-color           : @background-color-highlight;
@input-border-color               : @base-border-color;

@input-background-color-focus     : fadein(@input-background-color, 6%);
@input-selection-color            : darken(@background-color-selected, 6%);
@input-selection-color-focus      : @background-color-selected;

@tool-panel-background-color      : transparent;
@tool-panel-border-color          : @base-border-color;

@inset-panel-background-color     : transparent;
@inset-panel-border-color         : fadeout(@base-border-color, 15%);

@panel-heading-background-color   : @base-background-color;
@panel-heading-border-color       : @base-border-color;

@overlay-background-color         : @base-border-color;
@overlay-border-color             : @text-color-subtle;

@button-background-color          : fadeOut(@base-accent-color, 40%);
@button-background-color-hover    : @base-accent-color;
@button-background-color-selected : @button-background-color-hover;
@button-border-color              : @base-background-color;

@tab-bar-background-color         : @base-border-color;
@tab-bar-border-color             : @background-color-highlight;
@tab-background-color             : @tab-bar-background-color;
@tab-background-color-active      : transparent;
@tab-border-color                 : @background-color-highlight;

@tab-text-color                   : @text-color;
@tab-text-color-active            : @text-color-highlight;

@tree-view-background-color       : @background-color-highlight;
@tree-view-border-color           : @tree-view-background-color;

@scrollbar-color                  : @base-accent-color;
@scrollbar-background-color       : @base-border-color;
@scrollbar-color-editor           : @scrollbar-color;
@scrollbar-background-color-editor: @scrollbar-background-color;

@tooltip-background-color         : @base-accent-color;
@tooltip-text-color               : @text-color-highlight;
@tooltip-text-key-color           : @tooltip-background-color;
@tooltip-background-key-color     : @tooltip-text-color;

@key-binding-border-color         : hsla(0, 0%, 100%, .1);
@key-binding-background-color     : hsla(0, 0%, 100%, .1);

@ui-site-color-1 : @background-color-info;
@ui-site-color-2 : @background-color-success;
@ui-site-color-3 : @background-color-warning;
@ui-site-color-4 : @background-color-error;
@ui-site-color-5 : @base-accent-color;

// Sizes
@font-size              : 12px;
@input-font-size        : @font-size;
@line-height            : @font-size*2;
@disclosure-arrow-size  : 12px;

@component-padding      : 8px;
@component-icon-padding : 4px;
@component-icon-size    : 16px; // needs to stay 16px to look sharpest
@component-line-height  : @line-height;
@component-border-radius: 2px;

@tab-height             : @line-height;

@ui-size                : 1em;
@ui-padding             : @ui-size;
@ui-padding-pane        : @ui-size/2;
@ui-padding-icon        : @ui-size/3.3;

// Font
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

// Misc
@theme-name: whimsy-ui;

@level-1-color: lighten(@base-background-color, 6%);
@level-3-color: darken(@base-background-color, 3%);

// Debug
// html:before {
//   content: "@{variable}";
// }
